<!-- header container -->
<header class="text-gray-600 body-font fixed bottom-0 lg:top-0 lg:bottom-auto w-full bg-violet-950/25 backdrop-blur-sm">
  <!-- header box -->
  <div class="container mx-auto grid grid-flow-col">
    <!-- logo -->
    <a class="rounded-lg h-10 bg-slate-500 justify-self-start">
      <img src="/logo.svg" alt="" srcset="" class="h-full rounded-lg">
    </a>
    <!-- nav menu -->
    <nav
      class="text-base hidden lg:grid grid-flow-col items-stretch self-stretch w-max justify-self-center">
    </nav>

    <!-- sign button  and baget-->
    <div class="grid grid-cols-2 justify-self-stretch d">
      <button
        class="bg-gray-100 border-0 hover:bg-gray-200 rounded text-base py-2 px-4 justify-self-start">
        Sign
      </button>
      <a id="bagetButton" class="bg-violet-700 text-white p-2 rounded-md justify-self-end">Sebet</a>
    </div>

    <!-- menu button -->
    <button id="menuButton" class="bg-violet-700 text-white p-2 rounded-md justify-self-end lg:hidden">Menyu</button>
  </div>

</header>

<!-- blur background for aside -->
<div id="asideSection" class="fixed w-full h-full bg-black/25 backdrop-blur-sm hidden"></div>
<!-- nav for max-width 1024px -->
<aside class="hidden content-end fixed right-0 h-full bg-slate-700/70 text-white text-lg">
  <a class="menu-links-b">Elektronika</a> 
  <a class="menu-links-b">Mebel</a>
  <a class="menu-links-b">Kanselýar</a>
  <a class="menu-links-b">Azyk</a>
  <a class="menu-links-b">Hojalyk</a>
  <a class="menu-links-b">Geýim</a>
  <a class="menu-links-b">Parfumeriýa</a>
  <a class="menu-links-b">Şaý-Sep</a>
</aside>