<!-- header container -->
<header class="text-gray-600 body-font fixed top-0 w-full bg-violet-300/50">
  <!-- header box -->
  <div class="container mx-auto grid grid-cols-3 items-center">
    <!-- logo -->
    <a class="rounded-lg h-20 bg-slate-500 justify-self-start">
      <img src="/logo.svg" alt="" srcset="" class="h-full rounded-lg">
    </a>
    <!-- nav menu -->
    <nav class="text-base space-x-3 grid grid-flow-col justify-between">
      <a class="hover:text-gray-900">First Link</a>
      <a class="hover:text-gray-900">Second Link</a>
      <a class="hover:text-gray-900">Third Link</a>
      <a class="hover:text-gray-900">Fourth Link</a>
    </nav>
    <!-- sign button -->
    <button class="bg-gray-100 border-0 hover:bg-gray-200 rounded text-base py-2 px-4 justify-self-end">
      Sign    
    </button>

  </div>

</header>