<!-- dign section container -->
<section id="signSection" class="fixed inset-0 hidden place-items-center bg-black/25 backdrop-blur-sm" style="perspective: 1000px;">
    <!-- singwindow closer -->
    <div class="absolute inset-0" onclick="signWindowClose()"></div>
    <form id="registerWindow" class="absolute gap-y-5 w-[90%] lg:w-2/5 grid bg-violet-400 p-12 rounded-lg items-start justify-stretch backface-hidden transition-all duration-1000" style="transform: rotateY(0deg); ">
        <input type="button" value="Öň hem ýazgyda" onclick="loginOrRegister()" class="bg-violet-800 text-white rounded-xl p-2">
        <div>
            <input type="radio" name="user_role" id="isBusiness" value="businessPerson"><label for="isBusiness" class="text-white">Telekeçi</label>
            <input type="radio" name="user_role" id="isUser" value="user" checked><label for="isUser" class="text-white">Alyjy</label>
        </div>
        <input type="text" name="name" placeholder="Ulanyjy Ady" class="checkoutInputs">
        <input type="tel" name="phone" placeholder="Tel. Belgi" class="checkoutInputs">
        <input type="password" name="password" placeholder="Parol" class="checkoutInputs">

        <input type="email" name="email" placeholder="Elektron Poşta" class="hidden businessOnly checkoutInputs">
        <input type="text" name="country" placeholder="Ýurt" class="hidden businessOnly checkoutInputs">
        <input type="text" name="state" placeholder="Welaýat" class="hidden businessOnly checkoutInputs">
        <input type="text" name="city" placeholder="Şäher/Oba/Etrap" class="hidden businessOnly checkoutInputs">
        <input type="text" name="address_line_1" placeholder="Salgysy" class="hidden businessOnly checkoutInputs">
        <input type="text" name="address_line_2" placeholder="Salgysy+" class="hidden businessOnly checkoutInputs">
        <input type="text" name="zip" placeholder="ZIP kod" class="hidden businessOnly checkoutInputs">
        <input type="text" name="business_name" placeholder="Kärhana ady" class="hidden businessOnly checkoutInputs">
        <input type="submit" value="Indiki" class="bg-violet-800 text-white rounded-xl p-2">

        <!-- code validation section -->
        <input id="codeValidationInput" name="validation_code" type="text" placeholder="Nomeriňize gelen kod" class="checkoutInputs hidden">

    </form>

    <form id="loginWindow" class="absolute gap-y-5 w-[90%] lg:w-2/5 grid bg-violet-400 p-12 rounded-lg items-start justify-stretch backface-hidden transition-all duration-1000" style="transform: rotateY(180deg);">
        <input type="button" value="Täze ýazylmak" onclick="loginOrRegister()" class="bg-violet-800 text-white rounded-xl p-2">
        <input autocomplete="username" type="text" name="user" placeholder="Ad/Tel./E.posta" class="checkoutInputs">
        <input autocomplete="current-password" type="password" name="password" placeholder="Parol" class="checkoutInputs">
        <input type="submit" value="Indiki" class="bg-violet-800 text-white rounded-xl p-2">
    </form>
</section>