<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu.css">
    <style>
        #bagetContainer{
            display: none;
        }
        #bagetContainer.active{
            display: block;
        }#checkoutWindow.active{
            display: grid;
        }
    </style>
</head>
<body class="bg-slate-200">
    <!-- menu -->
    <%- include('./../partials/_menu') %>
    
    <!-- messages container -->
    <div id="messagesContainer" class="z-20 fixed top-0 w-full grid place-content-center"></div>
    
    <!-- baget partial -->
    <%- include('./../partials/_baget') %>

    <!-- products page -->
    <%- include('./../partials/_products') %>

    <script src="/js/baget.js">
    </script>
</body>
</html>