@tailwind base;
@layer base{
    .checkoutInputs{
        @apply p-2 outline-none focus:ring rounded-md
    }
    .menu-links{
        @apply px-3 grid items-center cursor-pointer font-bold
    }
    .menu-links-b{
        @apply py-3 px-6 cursor-pointer font-semibold border-b border-red-600
    }
    .menu-links:hover{
        @apply shadow-md text-white
    }
    .btn-add-to-cart{
        @apply hover:scale-105 hover:drop-shadow-lg active:scale-95 transition-all duration-75
    }
    @media (max-width: 1024px) {
        aside.active {
          @apply grid;
        }
    }
}
@tailwind components;
@layer components{
    .rotate-y-180{
        transform: rotateY(180deg)
    }
    .backface-visible {
        backface-visibility: visible !important;
    }

    .backface-hidden {
        backface-visibility: hidden !important;
    }
}
@tailwind utilities;
@layer utilities {
    .messagesZ{
        @apply z-50
    }
    .bagetZ{
        @apply z-10
    }
    .checkoutZ{
        @apply z-20
    }
}

